/*general styles*/

:root{
    --font1: "League Gothic", sans-serif;
    --font2: "League Spartan", sans-serif;
    --font3: "Lato", sans-serif;
    --font4: "Mukta", sans-serif;
    --app-width: 100vw;
    --app-height: 100vh;
    --red-color1: hsla(0, 74%, 55%, 0.841);
    --red-color2: hsl(0, 74%, 55%);
    --red-color3: hsl(0, 100%, 92%);
    --blue-color1: hsla(209, 100%, 50%, 0.708);
    --blue-color2: hsla(209, 100%, 50%, 0.948);
    --blue-color3: hsl(210, 100%, 92%);
    --orange-color1: hsl(25, 100%, 74%);
    --orange-color2: hsl(25, 97%, 55%);
    --orange-color3: hsl(25, 100%, 90%);
}

.light-theme{
    --primary-color: #fafff1;
    --secondary-color-1: #e3fcb3;
    --secondary-color-2: #8FBD4F;
    --secondary-color-3: #054D3B;
    --secondary-color-4: var(--secondary-color-2);
    --opposite-color: #241100;
}

.dark-theme{
    --primary-color: #241100;
    --secondary-color-1: #e3fcb3;
    --secondary-color-3: #8FBD4F;
    --secondary-color-2: #054D3B;
    --secondary-color-4: var(--secondary-color-1);
    --opposite-color: #fafff1;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    overflow-y: auto;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    background-color:#626262;
    max-width: 0.4rem;
}
body::-webkit-scrollbar-thumb{
    background:#8FBD4F;
    border-radius: 10px;
    cursor: pointer;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #6c8e3d;
}


#app-ui{
    display: block;
    min-height: var(--app-height);
    max-width: var(--app-width);
    background-color: var(--primary-color);
    box-sizing:border-box;
    /*transition: all 0.5s ease-in-out;*/
    
}
#nav-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}


#logo{
    height: 100px;
    width: auto;
    padding-left: 40px;
}

#theme-icon{
    height: 30px !important;
    width: 30px !important;
    margin-right: 1rem;
    cursor: pointer;
}
#socials{
    display: flex;
    flex-direction: row;
    gap:0.8rem;
    flex-wrap: wrap;
    margin-bottom: 10px;

}
#socials .fa{
    font-size: 20px;
    width: 30px;
    height:30px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: var(--secondary-color-3);
    background-color: var(--primary-color);
    border-radius: 50%;

}


.loader-active{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s, visibility 1s;
    background-color: var(--secondary-color-4);
}

.loader-active::before{
    content: "";
    width: 80px;
    height: 80px;
    border: 20px solid var(--secondary-color-3);
    border-top-color: var(--secondary-color-1);
    border-radius: 50%;
    animation: loading 1s ease-in infinite;

}


footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    font-family: var(--font2);
    background: var(--secondary-color-3);
    color: var(--secondary-color-2);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }

footer p{
    text-align: center;
}

footer p a{
    text-decoration: dashed;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}
@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }

}

.loader-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}


@media screen and (max-width: 251px){
    #logo{
        height: 80px;
    }
    #theme-icon{
        scale: 0.6;
    }
}

@media screen and (min-width: 251px) and (max-width: 320px){
    #logo{
        height: 100px;
    }
    #theme-icon{
        scale: 0.6;
    }
}
